.ba {
	.container {
		max-width: 990px;
	}	

	@media (min-width: 990px) {

		//== Padding
		.pr-30 {
			padding-right: 30px;
		}

		.plr-8 {
			padding-left: 8px;
			padding-right: 8px;
		}

		.plr-16 {
			padding-left: 16px;
			padding-right: 16px;
		}

		.plr-25 {
			padding-left: 25px;
			padding-right: 25px;
		}

		.pl-27 {
			padding-left: 27px;
		}

		.pl-86 {
			padding-left: 86px;
		}	


		//== Margin
		.ml-5 {
			margin-left: 5px;
		}

		.mt-0 {
			margin-top: 0;
		}
		.mt-15 {
			margin-top: 15px;
		}
		.mtb-3 {
			margin-bottom: 1px;
		}

		.mb-10 {
			margin-bottom: 10px;
		}
		.mb-26 {
			margin-bottom: 26px;
		}

		.mt-3 {
			margin-top: 3px;
		}

		.mt-5 {
			margin-top: 5px;
		}
		//== Width
		.w-223 {
			width: 223px;
		}

		.w-80p {
			width: 185px;
		}

		
		.w-45 {
			width: 45px;
		}

		.w-160 {
			width: 160px;
		}
	}

	.sticky-footer {
		position: fixed;
		bottom: 0;
		right: 0;
		/* Set the fixed height of the footer here */
		height: 40px;
		background-color: #f5f5f5;
	}
}
