.ba {
	.header-italic {
		font-size: 26pt;
		font-family: @italic-font;
		font-weight: italic;
		line-height: 1em;
		padding: 0;
		margin-bottom: 0;
		&.sm {
			font-size: 18pt;
		}

		&.xsm {
			font-size: 14pt;
		}
	}

	.header-bold {
		font-size: 22pt;
		font-family: "brandon-grotesque", Arial, times;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1em;
		padding: 0;
		margin-top: 0;
		&.sm {
			font-size: 18pt;
		}
		&.xsm {
			margin-left: 6px;
			font-size: 18px;
		}
	}

	.header-text {
		font-family: "brandon-grotesque", Arial, times;
		color: #48a7af;
		font-weight: bold;
		font-size: 10pt;
	}

	.link-green {
		color: @ribbon-dark-green;
	}

	.link-bold {
		font-weight: bold;
	}

	.link-divider {
		color: #8f8f8f;
		margin-left: 5px;
		margin-right: 5px;
	}

	.content-border {
		border-left: 10px solid @ribbon-light-blue;
		padding-left: 5px;
		margin-top: 10px;
		margin-bottom: 10px;

		&.dark-green {
			border-color: @ribbon-dark-green;
		}

		&.light-green {
			border-color: @ribbon-light-green;

		}

		&.light-blue {
			border-color: @ribbon-light-blue;

		}

		&.light-yellow {
			border-color: @ribbon-light-yellow;
		}

		&.light-red {
			border-color: @ribbon-light-red;
		}

		&.light-purple {
			border-color: @ribbon-light-purple;
		}
	}


	.content-divider {
		border-bottom: 1px solid #cfcfcf;
		margin-top: 10px;
	}

	.content-date {
		color: #8f8f8f;
		font-weight: bold;
		font-size: 10pt;
	}

	.content-author {
		font-weight: bold;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
	}
	.content-text {
		line-height: 22px;
		font-size: 16px;
	}

	.content-info {
		color: #8f8f8f;
	}

	.header-price {
		font-family: @core-font;
		font-size: 14pt;
		margin: 0;
		font-weight: bold;
	}

}