.ba {
	.header-italic {
		font-size: 26pt;
		font-family: @italic-font;
		font-weight: italic;
		margin-top: 15px;
		line-height: 1em;
		padding: 0;
		margin-bottom: 0;
		&.sm {
			font-size: 18pt;
		}

		&.xsm {
			font-size: 14pt;
		}
	}

	.header-bold {
		font-size: 22pt;
		font-family: "brandon-grotesque", Arial, times;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1em;
		padding: 0;
		margin-top: 0;
		&.sm {
			font-size: 18pt;
		}
		&.xsm {
			font-size: 12pt;
		}
	}

	.header-text {
		font-family: "brandon-grotesque", Arial, times;
		color: #48a7af;
		font-weight: bold;
		font-size: 10pt;
	}
}