     <div class="container">
       <header class="row">
        <div class="col-md-12">
          <h4 class="text-center header-italic">Book</h4>
          <h3 class="text-center header-bold">Reviews</h3>
          <div class="text-center">
            <span class="glyphicon glyphicon-star star-green star-lg" ng-repeat="star in _review.stars" ng-class="{active: _review.average < star.name}"></span>
          </div>
          <h5 class="text-center header-text">{{ _review.total }} Total Reviews</h5>
        </div>
      </header><!-- /.row :document-header -->
      <div class="row">
        <div class="col-md-12">See reviews from:</div>
      </div>
      <div class="row">
        <section class="col-md-8">
          <header>
            <div class="row mb-26">
              <div class="col-md-12">
                <a href class="ribbon" ng-click="_review.setFilter(ribbon)" ng-class="[ribbon.color, {active: ribbon.slug === _review.selectedRibbon.slug }]" ng-repeat="ribbon in _review.ribbons">
                  <div class="ribbon-text">{{ ribbon.title }}</div>
                  <div class="ribbon-text">({{ ribbon.len }})</div>
                </a> <!-- /.ribbon -->   
              </div> <!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <h3 class="header-italic sm">{{ _review.orderBy.name }}</h3>
                  <h4 class="header-bold sm">Reviews</h4>
                </div>
                <div class="pull-right">
                  <span>Sort by:</span>
                  <div class="btn-group" dropdown>
                    <button  class="btn btn-" dropdown-toggle>
                      {{ _review.orderBy.name }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                      <li role="menuitem" ng-repeat="order in _review.orders"><a href ng-click="_review.setOrder(order)">{{ order.name }}</a></li>
                    </ul>
                  </div>
                </div><!-- /.pull-right -->
              </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
          </header><!-- / :content-header -->
          <div class="row">
            <article class="col-md-12" ng-repeat="review in _review.reviews | filter: _review.filterBy | orderBy: _review.orderBy.slug | limitTo: _review.limitTo ">
              <header>
                <div class="content-border" ng-class="_review.getColor(review.user.type)">
                  <time class="content-date">{{ review.date | date:'longDate' }}</time>
                  <div class="content-author">{{ review.user.firstname }} {{ review.user.lastname }}</div>
                  <div>{{ review.book_type }}</div>
                </div>
                <div>
                  <span class="glyphicon glyphicon-star star-green star-sm" ng-repeat="star in _review.stars" ng-class="{active: review.rating < star.name}"></span> <span class="header-bold xsm">{{ review.title }}</span>
                </div>
              </header><!-- :article-header -->
              <summary read-more content="review.content" limit="800" class="content-text"></summary>
              <footer>
                <div class="content-info">{{ review.helpful_count }} out of {{ review.helpful_count + review.not_helpful_count }} found this review helpful.</div>
                <div ng-hide="review.voted">
                  <span class="content-info">Was this review helpful to you?</span>
                  <a href class="link-green "ng-click="_review.vote(review, 'helpful')"><i class="glyphicon glyphicon-thumbs-up"></i> Helpful</a> 
                  <span class="link-divider"> | </span> 
                  <a href class="link-green" ng-click="_review.vote(review, 'not_helpful')"><i class="glyphicon glyphicon-thumbs-down"></i> Not Helpful</a>
                  <a href class="link-green pull-right"><i class="glyphicon glyphicon-flag"></i> Flag This Content For Review</a>
                </div ng-show="review.voted">
                <div ng-show="review.voted">Thank you for voting this review.</div>
                <hr>
              </footer><!-- :article-footer -->
            </article><!-- /.col-md-12 -->
          </div><!-- ./row -->
          <div class="row sticky-footer" >
            <footer class="col-md-12">
              <a href class="btn pull-right">Add Review</a>
            </footer><!-- /.col-md-12 :dodument-footer  -->
          </div><!-- /.row -->
          <infinite change="_review.setLimit(limit, apply)" limit-to="_review.limitTo"></infinite>
        </section><!-- /.col-md-8 :left-section -->
        <section class="col-md-4">
          <aside class="well">
            <div class="text-center">
              <span class="glyphicon glyphicon-star star-green star-md" ng-repeat="star in _review.stars" ng-class="{active: _review.average < star.name}"></span>
              <h6>Avarage Rating: Review {{ _review.average }} out of 5 star</h6>
            </div>
            <div class="row" ng-repeat="star in _review.stars | orderBy:-name">
              <div class="pull-left">
                {{ star.name }}
              </div>
              <div class="col-sm-9">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: star.percentage + '%'}">
                    <span class="sr-only">{{ star.percentage }}</span>
                  </div>
                </div>
              </div>
              <div class="pull-right">({{ star.count }})</div>
            </div>
          </aside><!-- /.well -->
          <aside class="well">
            <div class="text-center">Paperback</div>
            <div class="text-center">{{ 2 | currency }}</div>
            <div class="text-center"><a href class="btn btn-success">{{ 'Add to cart' | uppercase }}</a></div>
            <div class="text-center"><a href class="btn btn-primary">{{ 'Buy else where' | uppercase }}<span class="caret"></span></a></div>
            <div class="text-center">-OR-</div>
            <div class="text-center"><a href class="btn btn-warning">{{ 'Buy ebook now' | uppercase }}</a></div>
          </aside><!-- /.well -->
        </section><!-- /.col-md-4 :right-section -->
      </div>
    </div><!-- /.container -->